body{
  background-color: rgb(255, 255, 255);
}

.poster-image{
  width: 100%;
  height: auto;
}

.details{
  border-left: 1px solid gainsboro;
}

.review {
  border-bottom: 1px solid gainsboro;
}

.logo{
  width: 70px;
  height: 70px;
}

.nav{
  background-color: black;
}

.footer {
  background-color: black;
  height: 60vh;
  color: white;
}

.footer-text{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.footer-title{
  text-transform: uppercase;
  font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.top{
  margin-top: 35%; 
}


@media only screen and (min-width: 768px) {
  .footer {
    background-color: black;
    height: 30vh;
    color: white;
  }

  .top{
    margin-top: 8%; 
  }
}